.idea
.vscode
.DS_Store
/src/img/characters/*
!/src/img/characters/black-widow-320x180.jpg
!/src/img/characters/black-widow-480x270.jpg
!/src/img/characters/black-widow-768x432.jpg
!/src/img/characters/black-widow-992x558.jpg
!/src/img/characters/black-widow-1280x720.jpg
!/src/img/characters/captain-america-320x180.jpg
!/src/img/characters/captain-america-480x270.jpg
!/src/img/characters/captain-america-768x432.jpg
!/src/img/characters/captain-america-992x558.jpg
!/src/img/characters/captain-america-1280x720.jpg
!/src/img/characters/hawkeye-320x180.jpg
!/src/img/characters/hawkeye-480x270.jpg
!/src/img/characters/hawkeye-768x432.jpg
!/src/img/characters/hawkeye-992x558.jpg
!/src/img/characters/hawkeye-1280x720.jpg
!/src/img/characters/hulk-320x180.jpg
!/src/img/characters/hulk-480x270.jpg
!/src/img/characters/hulk-768x432.jpg
!/src/img/characters/hulk-992x558.jpg
!/src/img/characters/hulk-1280x720.jpg
!/src/img/characters/iron-man-320x180.jpg
!/src/img/characters/iron-man-480x270.jpg
!/src/img/characters/iron-man-768x432.jpg
!/src/img/characters/iron-man-992x558.jpg
!/src/img/characters/iron-man-1280x720.jpg
!/src/img/characters/thor-320x180.jpg
!/src/img/characters/thor-480x270.jpg
!/src/img/characters/thor-768x432.jpg
!/src/img/characters/thor-992x558.jpg
!/src/img/characters/thor-1280x720.jpg
/src/final
